@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PLPointTrackingSystem.Models.PLM.UploadTestViewModel
    <link rel="stylesheet" href="~/css/stylesheet.css" />

<div id="testUpload">
    @* show list of data here *@

    @if (Model.FileData.Count > 0)
    {
        <hr />

        <table>

            <tr>
                <td>Name</td>
                <td>USAPL Member ID</td>
                <td>Age</td>
                <td>Divsions</td>
                <td>Weight Class</td>
                <td>Club</td>
                <td>Gender</td>
            </tr>

            @foreach (var item in @Model.FileData)
            {
        <tr>
            <td>@item.Name</td>
            <td>@item.MemberID</td>
            <td>@item.Age</td>
            <td>@item.DivisionString</td>
            <td>@item.WeightClass</td>
            <td>@item.Club</td>
            <td>@item.Gender</td>
        </tr>
            }

        </table>
    }
</div>